* {
  box-sizing: border-box;
}

html {
  background: #018ded url(https://unsplash.it/1500/1000?image=881&blur=50);
  background-size: cover;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 50%;
  max-width: 30rem;
  position: relative;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.1),
    inset 0 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: 1.5rem solid white;
  border-radius: 50%;
}

.clock::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.clock-face {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  height: 95%;
  transform: translate(-50%, -50%);
}

.hand {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2%;
  height: 50%;
  background: black;
  transform-origin: center 100%;
  transform: translate(-50%, -100%) rotate(0deg);
  transition: all 0.5s;
}

.hour-hand {
  width: 3%;
  height: 30%;
}

.second-hand {
  top: 55%;
  width: 1%;
  height: 55%;
  background: red;
  transform-origin: center calc(50 / 55 * 100%);
}
